WebSite1/App_WebReferences/ServiceReference2/BooksOperations.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BooksDataService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BooksDataService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBookData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookData" nillable="true" type="tns:BookData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookData" nillable="true" type="tns:ArrayOfBookData" />
  <xs:complexType name="BookData">
    <xs:sequence>
      <xs:element minOccurs="0" name="author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="genre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:double" />
      <xs:element minOccurs="0" name="publishDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookData" nillable="true" type="tns:BookData" />
</xs:schema>