WebSite1/App_WebReferences/ServiceReference1/MathOperations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MathOperations" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51485/MathOperations.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51485/MathOperations.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51485/MathOperations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FirstWebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMathOperations_Addition_InputMessage">
    <wsdl:part name="parameters" element="tns:Addition" />
  </wsdl:message>
  <wsdl:message name="IMathOperations_Addition_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdditionResponse" />
  </wsdl:message>
  <wsdl:message name="IMathOperations_Subtraction_InputMessage">
    <wsdl:part name="parameters" element="tns:Subtraction" />
  </wsdl:message>
  <wsdl:message name="IMathOperations_Subtraction_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubtractionResponse" />
  </wsdl:message>
  <wsdl:message name="IMathOperations_Multiplication_InputMessage">
    <wsdl:part name="parameters" element="tns:Multiplication" />
  </wsdl:message>
  <wsdl:message name="IMathOperations_Multiplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplicationResponse" />
  </wsdl:message>
  <wsdl:message name="IMathOperations_Division_InputMessage">
    <wsdl:part name="parameters" element="tns:Division" />
  </wsdl:message>
  <wsdl:message name="IMathOperations_Division_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivisionResponse" />
  </wsdl:message>
  <wsdl:portType name="IMathOperations">
    <wsdl:operation name="Addition">
      <wsdl:input wsaw:Action="http://tempuri.org/IMathOperations/Addition" message="tns:IMathOperations_Addition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMathOperations/AdditionResponse" message="tns:IMathOperations_Addition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subtraction">
      <wsdl:input wsaw:Action="http://tempuri.org/IMathOperations/Subtraction" message="tns:IMathOperations_Subtraction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMathOperations/SubtractionResponse" message="tns:IMathOperations_Subtraction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiplication">
      <wsdl:input wsaw:Action="http://tempuri.org/IMathOperations/Multiplication" message="tns:IMathOperations_Multiplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMathOperations/MultiplicationResponse" message="tns:IMathOperations_Multiplication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Division">
      <wsdl:input wsaw:Action="http://tempuri.org/IMathOperations/Division" message="tns:IMathOperations_Division_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMathOperations/DivisionResponse" message="tns:IMathOperations_Division_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMathOperations" type="tns:IMathOperations">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Addition">
      <soap:operation soapAction="http://tempuri.org/IMathOperations/Addition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subtraction">
      <soap:operation soapAction="http://tempuri.org/IMathOperations/Subtraction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiplication">
      <soap:operation soapAction="http://tempuri.org/IMathOperations/Multiplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Division">
      <soap:operation soapAction="http://tempuri.org/IMathOperations/Division" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MathOperations">
    <wsdl:port name="BasicHttpBinding_IMathOperations" binding="tns:BasicHttpBinding_IMathOperations">
      <soap:address location="http://localhost:51485/MathOperations.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>